/* position: static, initial, inherit,  absolute, fixed,  sticky  */

.parent {
  background: gray;
  min-height: 40vh;
  padding: 1rem;
  font-size: 2rem;
}
.parent div {
  min-height: 150px;
}
.c1 {
  background: red;
}

.c2 {
  background: green;
}

.c3 {
  background: blue;
}
